<header id="header" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 57, 'stickySetTop': '-55px', 'stickyChangeLogo': true}">
		<div class="header-body">
			<div class="header-container container">
				<div class="header-row">
					<div class="header-column">
						<div class="header-row">
							<div class="header-logo">
								<a href="index.html">
									<img alt="Porto" width="111" height="54" data-sticky-width="82" data-sticky-height="40" data-sticky-top="33" src="../../assets/img/logo.png">									
								</a>
							</div>
						</div>
					</div>
					<div class="header-column justify-content-end">
						<div class="header-row pt-3">
							<nav class="header-nav-top">
								<ul class="nav nav-pills">
									<li class="nav-item d-none d-sm-block">
										<a routerLink="/" class="nav-link"><i class="fas fa-angle-right"></i> About Us</a>
									</li>
									<li class="nav-item d-none d-sm-block">
										<a routerLink="contact" class="nav-link"><i class="fas fa-angle-right"></i> Contact Us</a>
									</li>
									<li class="nav-item">
										<span class="ws-nowrap"><i class="fas fa-phone"></i> (123) 456-789</span>
									</li>
								</ul>
							</nav>
							<div class="header-search d-none d-md-block">
<!-- 								<form id="searchForm" action="page-search-results.html" method="get">
									<div class="input-group">
										<input type="text" class="form-control" name="q" id="q" placeholder="Search..." required>
										<span class="input-group-append">
											<button class="btn btn-light" type="submit"><i class="fas fa-search"></i></button>
										</span>
									</div>
								</form> -->
							</div>
						</div>
						<div class="header-row">
							<div class="header-nav">
								<div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1">
									<nav class="collapse">
										<ul class="nav nav-pills" id="mainNav">
											<li class="dropdown">
												<a class="dropdown-item" routerLink="/">
													Home
												</a>
											</li>
											<li class="dropdown">
												<a class="dropdown-item" routerLink="/contact">
													Contact Us
												</a>
											</li>
											<li class="dropdown dropdown-mega dropdown-mega-signin signin" id="headerAccount" *ngIf="!loggedIn">
												<a class="dropdown-item dropdown-toggle" href="page-login.html" >
													<i class="fas fa-user"></i> Sign In
												</a>
												<ul class="dropdown-menu">
													<li>
														<div class="dropdown-mega-content">
															<div class="row">
																<div class="col">
																	<div class="signin-form">
																		<span class="dropdown-mega-sub-title">Sign In</span>
														<form [formGroup]="loginForm"  (ngSubmit)="OnSubmit()" novalidate>
																			<div class="form-row">
																				<div class="form-group col">
																					<label>Username or E-mail Address</label>
							<input type="text" formControlName="email" id="inputEmail" required value="" class="form-control form-control-lg" tabindex="1">
																				</div>
																			</div>
																			<div class="form-row">
																				<div class="form-group col">
																					<a class="float-right mt-0 p-0" id="headerRecover" href="#">(Lost Password?)</a>
																					<label>Password</label>
							<input type="password" id="inputPassword" formControlName="password" required value="" class="form-control form-control-lg" tabindex="2">
																				</div>
																			</div>
																			<div class="form-row">
																				<div class="form-group col-lg-6 pl-0">
																					<span class="remember-box form-check">
																						<label class="form-check-label" for="rememberme">
																							<input class="form-check-input mr-2" type="checkbox" id="rememberme" formControlName="rememberme">Remember Me
																						</label>
																					</span>
																				</div>
																				<div class="form-group col-lg-6 pr-0">
																					<input type="submit" value="Login" class="btn btn-primary float-right mb-3" data-loading-text="Loading..." >
																				</div>
																			</div>			
																		</form>

																		<p class="sign-up-info">Don't have an account yet? <a href="#" id="headerSignUp" class="p-0 m-0 ml-1">Sign Up</a></p>

																	</div>

																	<div class="signup-form">
																		<span class="dropdown-mega-sub-title">Create Account</span>

																		<form [formGroup]="signupForm"  (ngSubmit)="Signup()" id="frmSignUp" >
																			<div class="form-row">
																				<div class="form-group col">
																					<label>Username</label>
																					<input type="text" formControlName="username" value="" class="form-control form-control-lg">
																				</div>
																			</div>
																			<div class="form-row">
																				<div class="form-group col-lg-6">
																					<label>Email</label>
																					<input type="text" formControlName="email" value="" class="form-control form-control-lg">
																				</div>
																				<div class="form-group col-lg-6">
																					<label>Password</label>
																					<input type="password" value="" formControlName="password" class="form-control form-control-lg">
																				</div>
																			</div>
																			<div class="form-row">
																				<div class="col-lg-12">
																					<input type="submit" value="Create Account" class="btn btn-primary float-right mb-3" data-loading-text="Loading...">
																				</div>
																			</div>
																		</form>

																		<p class="log-in-info">Already have an account? <a href="#" id="headerSignIn" class="p-0 m-0 ml-1">Log In</a></p>
																	</div>

																	<div class="recover-form">
																		<span class="dropdown-mega-sub-title">Reset My Password</span>
																		<p>Complete the form below to receive an email with the authorization code needed to reset your password.</p>

<!-- 																		<form action="/" id="frmResetPassword" method="post">
																			<div class="form-row">
																				<div class="form-group col">
																					<label>E-mail Address</label>
																					<input type="text" value="" class="form-control form-control-lg">
																				</div>
																			</div>
																			<div class="form-row">
																				<div class="form-group col">
																					<input type="submit" value="Submit" class="btn btn-primary float-right mb-3" data-loading-text="Loading...">
																				</div>
																			</div>
																		</form> -->

																		<p class="log-in-info">Already have an account? <a href="#" id="headerRecoverCancel" class="p-0 m-0 ml-1">Log In</a></p>
																	</div>

																</div>
															</div>
														</div>
													</li>
												</ul>
											</li>
											<li class="dropdown dropdown-mega dropdown-mega-signin signin logged" *ngIf="loggedIn" id="headerAccount">
													<a class="dropdown-item dropdown-toggle" href="page-login.html">
														<i class="fas fa-user"></i> John Smith
													</a>
													<ul class="dropdown-menu">
														<li>
															<div class="dropdown-mega-content">

																<div class="row">
																	<div class="col-lg-8">
																		<div class="user-avatar">
																			<div class="img-thumbnail d-block">
																				<img src="assets/img/clients/client-1.jpg" alt="">
																			</div>
																			<p><strong>John Smith</strong><span>CEO & Founder - Okler</span></p>
																		</div>
																	</div>
																	<div class="col-lg-4">
																		<ul class="list-account-options">
																			<li>
																				<a href="#">My Account</a>
																			</li>
																			<li>
																				<a style="cursor: pointer;" (click)="onLogout()">Logout</a>
																			</li>
																		</ul>
																	</div>
																</div>
															</div>
														</li>
													</ul>
												</li>





										</ul>
									</nav>
								</div>
								<button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
									<i class="fas fa-bars"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>